{{data}}
<table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Password</th>
            <th>Image</th>
            <th>Resume</th>
        </tr>
    </thead>
    <tbody>





{% for i in data %}
<tr>
    <td>{{ forloop.counter  }}</td>
    <td>{{ i.stu_name }}</td>
    <td>{{ i.stu_email }}</td>
    <td>{{ i.stu_contact }}</td>
    <td>{{ i.stu_pass }}</td>
    <td>
        <img src="/media/{{ i.stu_image }}" alt="" style="width: 100px; height: auto;">
    </td>
    <td>
        <a href="/media/{{ i.stu_resume }}" download>Download</a>
    </td>
</tr>
{% endfor %}

</tbody>
</table>